html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  /* Shoutout to css-tricks */
  /* https://css-tricks.com/perfect-full-page-background-image/ */
  background: url(/static/images/wood.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar-base {
  padding: 0;
}

.row {
  margin: 50px;
  /* background-color: white; */
}

.col {
  margin: 20px;
  background-color: rgba(255, 253, 232);
  border: 10px ridge #be8e26;
}

#map {
  position: relative;
  margin-left: 8%;
  height: 700px;
  width: 1000px;
  border: 10px ridge #be8e26;
}

container{
  width: 90%;
}
h1{
  text-align: center;
  font-size: 46px;
  color: rgb(25, 201, 192);
}